.searchBar{
    display: flex;
    width:20vw;
    padding: 10px;
    justify-content: space-evenly;
    font-size: 16px;
    border: 2px white solid;
    border-radius: 15px;
}

.searchContainer{
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width:80vw;
    margin-top:-3.5vh;
}

.searchBar input{
    border: none;
    color: white;
    font-size: 20px;
    background-color: #343338;
}

.searchBar input:focus{
    outline: none;
}