.header{ 
    display: flex;
    align-items: center;
    padding: 10px 10px;
    gap: 7px;
    font-size: 12px;
    background-color: #343338;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.header__logo {
  width: 30px;
  height: 30px;
}
