.header {
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  background-color: #343338;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.header__logo {
  width: 30px;
  height: 30px;
}

.sidebarcontainer {
  margin-right:5vw;
}