.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .home-content {
    display: flex;
    flex: 1;
  }
  
  .home-main {
    margin-left: 90px; 
    background-color: #343338;
  }
  
 