html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;

  }
  
  ::-webkit-scrollbar-thumb {
    background-color: purple;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #343338;
  }